/* ---------- Design barre menu header ----------*/

.navbar-default{
	padding: 0 !important;
}
.navbar-header { /* Pour corriger l'emplacement du logo du header */
    padding-top: 15px;
}
.navbar_kitten{
	padding-bottom: 0 !important;
}

.kitten_menuprincipal {
	float:right;
}

.kitten_menuprincipal .dropdown {
	.kitten_lienpremierniveau {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.dropdown-menu{
		.row-fw {
			padding: 15px 0;
		}
		.nav-classic li { /* Nav-classic utilisé pour les sous-menus faits avec rails pour les mettre en style */
			color: #333;
			font-size: 13px;
			a {
			padding: none;
			color: #333;
			svg {margin-right: 5px;} /* Pour éviter que l'icone soit colléé au texte */
			}
		}
	}
}
.kitten_menuprincipal .dropdown:hover{
	.dropdown-menu{
		display: block;
		opacity: 1;
		transition: 1s;
		min-width: 320px;
	}
}

/* Panier du header */

.dropdown-panier{
	display: flex !important;
	align-items: center;
}

.shopping-cart{

	align-items: end;
	right: 0;
	left: auto !important;
}

.cart-header {
    padding: 15px;
    background-color: #f0f0f0;
    text-align: center;
}

.cart-item .description {
    padding-left: 10px;
		padding-right: 100px;
}

.cart-item .buttons {
    display: inline-block;
    flex-direction: row;
}

/* ------FIN ---- Design barre menu header ----------*/


/* ---------- Design formulaire inscription ----------*/

.sky-form-login label {
	width: 25%;
}

.sky-form-login input, .sky-form-login textarea {
	width: 67%;
	border-radius: unset;
}
#user_remember_me {
    width: inherit;
}

/* ---------- Design alerts ----------*/

.alert-notice {
    background-color: #1ab394;
		color: white;
}

/* ---------- Index page d'accueil --- */
.col-sm-3 .item_holder {
    height: 320px;
		.title h5 {
			font-weight: bold;
		}
		p {
			line-height: 18px;
		}
}

.price_and_cart { /* POur ajouter une photo dans le panier depuis l'accueil */
	display: flex;
	justify-content: space-between;
	margin: 0px -15px;
	bottom: 10px;
	position: absolute;
	align-items: end;
	width: 100%;
	padding: 0 15px;
}

.featured-products .item_holder img {
   max-height: 180px;
}


/* Footer*/

footer::before{
	display:block;
	position:absolute;
	content:'';
	top: -25px;
	background: darkcyan;
	box-shadow: -50px 50px 0 #A3EdD4, 50px -50px 0 #1ab394;
	left: 50%;
	width: 50px;
	height: 50px;
	-webkit-transform: translateX(-50%) rotate(45deg);
	transform: translateX(-50%) rotate(45deg);
}

footer{
	position: relative;
	min-height: 150px;
	background: rgb(255, 255, 255);
	background: -moz-linear-gradient(73deg, rgb(255, 255, 255) 22%, rgb(25, 179, 148) 100%);
	background: -webkit-linear-gradient(73deg, rgb(255, 255, 255) 22%, rgb(25, 179, 148) 100%);
	background: -o-linear-gradient(73deg, rgb(255, 255, 255) 22%, rgb(25, 179, 148) 100%);
	background: -ms-linear-gradient(73deg, rgb(255, 255, 255) 22%, rgb(25, 179, 148) 100%);
	background: linear-gradient(163deg, rgb(255, 255, 255) 22%, rgb(25, 179, 148) 100%);
}

.footer_img {
    position: absolute;
    bottom: 14px;
		left: 12%;
}
.footer_title{
	color: #5e5e5e;
	font-family: "Raleway", serif;
	font-size: 30px;
	display: flex;
	align-items: baseline;
	justify-content: end;
	padding-bottom: 15px;
}
.footer_content{
	text-align: right;
	padding-top: 37px;
	padding-bottom: 5px;
}
.footer_credits{
	text-align: center;
	background: darkcyan;
  color: aliceblue;
	margin-top: 23px;
}
