<div class="space-60"></div>
<footer>
  <div class="footer_img">
    <%= image_tag 'fondchat1.png', class: "", alt: 'footer chat', height:'100px'%>
  </div>
  <div class="footer_content container">
    <div class="footer_title">
      <%= image_tag 'cat_logo.png', alt: "logo chat", height:"30px" %>
      <p>Kitten Market</p>
    </div>

    <h4>Un joli petit site fait avec passion</h4>
    <p>par Justine, Louis, NIcolas , Samba et Sylvain !
    </p>
  </div>
  <div class="footer_credits">
    2018 - THP Team
  </div>
</footer>
