<div class="space-50"></div>
<div class="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h3>Vous souhaitez être envahis de chatons ?</h3>
                <p>Laissez-nous votre mail pour en savoir plus sur ce que sont devenues nos stars internationales...</p>
            </div>
            <div class="col-md-7">
                <form role="form" method="post" action="#" class="subscribe-form  assan-newsletter">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <input type="text" class="form-control" name="email" placeholder="Enter email to subscribe">
                            </div>
                        </div>
                        <div class="col-sm-4 text-center">
                            <div>
                                <button class="newsletter-btn" name="submit" type="submit">Notify me</button>
                            </div>  
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>              
</div>